*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;
    height: 100%;
    background-color: black;
}
.loading{
 position: relative;
 min-height: 100vh;
 width: 100%;
 justify-content: center;
 align-items: center;
}
.load span{
    position:absolute ;
    width: 10px;
    height: 10px;
    transform: rotate(calc(var(--i)(360deg/20))) translateY(100px);
}
.load span::before{
    position: absolute;
    width: 25px;
    height: 25px;
    background: #ffff00;
    content: '';
    box-shadow: 0 0 10px #ffff00,
    0 0 20px #ffff00,
    0 0 40px #ffff00,
    0 0 60px #ffff00,
    0 0 80px #ffff00,
    0 0 100px #ffff00;
   border-radius: 50%;
   animation: animate 1s ;
}